<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    {% if loop.last %}
    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text|raw }}</li>
    {% else %}
    <li class="breadcrumb-item">
      {% if breadcrumb.route %}
      <a href="{{ path(breadcrumb.route, breadcrumb.routeParams) }}">{{ breadcrumb.text|raw }}</a>
      {% else %}
      {{ breadcrumb.text|raw }}
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>
