<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumb_trail.breadcrumbs %}
    {% if loop.last %}
    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
    {% else %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>
