{% extends '@OHMediaBootstrap/_flash.html.twig' %}

{% block message %}
  <div class="alert alert-{{ bootstrap_class }} alert-dismissible fade show mt-3" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endblock %}
